
<div class="col-md-3" style="margin: 8px">
  <%= link_to list_path(list) do%>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <p class="card-text"><%= list.name %></p>
      </div>
    </div>
  <% end %>
</div>
